<div class="row">
    <div class="col-md-12">
        <div class="text-center"><h4>CHA Household Registration Form</h4></div>
        <hr>
        <div class="row">
            <table class="table-registration-form" cellpadding="5" cellspacing="5" align="center">
                <thead class="label-info">
                <tr>
                    <th rowspan="2">Community Name</th>
                    <th rowspan="2">TOTAL HH <br> Members</th>
                    <th rowspan="2"></th>
                    <th colspan="2"># 0-11mths</th>
                    <th colspan="2"># 1-5yrs</th>
                    <th colspan="2"># 6-14yrs</th>
                    <th colspan="2"># 15-19yrs</th>
                    <th colspan="2"># +50yrs</th>
                    <th colspan="2">Community Name</th>
                </tr>
                <tr>
                    <th>M</th>
                    <th>F</th>
                    <th>M</th>
                    <th>F</th>
                    <th>M</th>
                    <th>F</th>
                    <th>M</th>
                    <th>F</th>
                    <th>M</th>
                    <th>F</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td><input type="text" size="5"></td>
                    <td rowspan="1"></td>
                    <td><input type="text" size="5"></td>
                    <td><input type="text" size="5"></td>
                    <td><input type="text" size="5"></td>
                    <td><input type="text" size="5"></td>
                    <td><input type="text" size="5"></td>
                    <td><input type="text" size="5"></td>
                    <td><input type="text" size="5"></td>
                    <td><input type="text" size="5"></td>
                    <td><input type="text" size="5"></td>
                    <td><input type="text" size="5"></td>
                    <td><input type="text" size="20"></td>
                </tr>
                <tr class="label-info text-left">
                    <td></td>
                    <td><input type="text" size="5"></td>
                    <td colspan="12" style="text-align: right"><a  class="btn btn-success btn-xs"><i class="fa fa-2x fa-plus"></i></a></td>
                </tr>
                </tbody>
            </table>

        </div>
        <hr>
        <div>
            <button class="btn btn-success" ng-click="enregistrer()"><i class="fa fa-3x fa-save"></i></button>
            <button class="btn btn-warning" ng-click="enregistrer()" disabled><i class="fa fa-3x fa-edit"></i></button>
        </div>
    </div>
</div>